---
layout: layout.liquid
title: PlanetCards
---

    <main>
     <div class="module sun"><span class="star"></span><h2>Sun</h2>Type G2V</div>
     <div class="module mercury"><span class="circle mercury"></span><h3>Mercury</h3>0.387 AU</div>
     <div class="module venus"><span class="circle venus"></span><h3>Venus</h3>0.723 AU</div>
     <div class="module earth"><span class="circle earth"></span><h3>Earth</h3>1.0 AU</div>
     <div class="module mars"><span class="circle mars"></span><h3>Mars</h3>1.524 AU</div>
     <div class="module jupiter"><span class="circle jupiter"></span><h3>Jupiter</h3>5.203 AU</div>
     <div class="module saturn"><span class="circle saturn"></span><h3>Saturn</h3>9.582 AU</div>
     <div class="module uranus"><span class="circle uranus"></span><h3>Uranus</h3>19.201 AU</div>
     <div class="module neptune"><span class="circle neptune"></span><h3>Neptune</h3>30.047 AU</div>
    </main>
